/*****************
*CSS For Beginners
******************/

span[class~="deck"]{
    color: purple;
}
div[id]{
    background: gray;
}
a[href$="pdf"]{
    color: green;
}
a[href^="http"]{
    color: pink;
}